{% extends 'iss_app/base.html' %}

{% block title %}Start{% endblock title %}

{% block content %}
    {% load static %}
    <head>
        <link rel="stylesheet" href={% static 'css/index.css' %}>
    </head>
    <div class="main">

        <div class="top-text">
            <h2>This is <i><h1 class="iss-now">ISS Now</h1></i></h2>
        </div>
        <div class="top-text-2">
            <h3>Track <strong><i>International Space Station</i></strong> like never before</h3>
        </div>
        <div class="start-btn">
            <a href="{% url "login" %}">
                <button class="btn btn-outline-primary btn-lg">
                    🚀 Get Started now !
                </button>
            </a>
        </div>

        <div class="row mx-auto" style="justify-content: center">
            <div class="col-lg-3 col-md-6 mb-3">
                <div class="card bg-dark">
                    <img src="{% static "images/map-shot.png" %}" class="card-img-top" alt="map">
                    <div class="card-body">
                        <div class="card-head">
                            <h4 class="card-title">🗺️ Live Map</h4>
                        </div>
                         <div class="card-text">
                            <hr>
                            <p>
                                <b>Track ISS easily</b> <br>
                                Use interactive map with Station's live parameters like: altitude, velocity and more !
                            </p>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-3">
                <div class="card bg-dark">
                    <img src="{% static "images/orbit-view.jpg" %}" class="card-img-top" alt="view">
                    <div class="card-body">
                        <div class="card-head">
                            <h4 class="card-title">🎥 Live Camera Views</h4>
                        </div>
                         <div class="card-text">
                            <hr>
                            <p>
                                <b>Enjoy breathtaking low Earth orbit views !</b><br>
                                Installed live cameras will help you look at our home planet in a new way
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-3">
                <div class="card bg-dark">
                    <img src="{% static "images/astro-notify.png" %}" class="card-img-top" alt="notify">
                    <div class="card-body">
                        <div class="card-head">
                            <h4 class="card-title">💫🔔 Flyover Notifications</h4>
                        </div>

                        <div class="card-text">
                            <hr>
                            <p><b>Never miss Space Station's flyover</b><br>
                                Get notified when it flies above your head by
                                ✉️ <b>Email</b> <br>or with our
                                <a href="https://t.me/iss_now_telebot"> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                     class="bi bi-telegram" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/>
                                </svg></a> <b>Telegram bot</b>
                            </p>

                        </div>

                    </div>

                </div>
            </div>
        </div>




{% endblock content %}