{% extends 'iss_app/base.html' %}
{% load static %}
{% block title %}Log in{% endblock title %}

{% block content %}

    <head>

        <link rel="stylesheet" href={% static 'css/login.css' %}>

    </head>

    <div class="main">

        <div class="container">
            <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
                <div class="card-header"><h3 class="card-title">
                Log In form</h3></div>
                <div class="card-body">
                      <form method="post">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <button type="submit" class="btn btn-success">Log In</button>
                </form>

                <hr>

                <div style="align-items: stretch">
                    <strong style="margin-right: 20px">No account?</strong>
                    <a href="{% url 'register' %}"><button class="btn btn-info">Sign Up</button></a>
                </div>
                </div>
            </div>

        </div>

        <div>
            <img src="{% static "images/p03clhhz.jpg" %}" alt="">
        </div>

    </div>

{% endblock content %}