{% extends 'iss_app/base.html' %}

{% block title %}Register{% endblock title %}

{% block content %}
    {% load static %}

    <head>

        <link rel="stylesheet" href={% static 'css/register.css' %}>

    </head>

    <div class="container">
        <div class="card text-white bg-dark mb-3" style="max-width: 60rem;">
            <div class="card-header"><h3 class="card-title">
                Registration form</h3></div>
            <div class="card-body">

                <form method="post">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <button type="submit" class="btn btn-success">Sign Up</button>
                </form>
                <hr>
                <div class="stretch">
                    <strong>Already have account?</strong>
                    <a href="{% url 'login' %}"><button class="btn btn-info">Log In</button></a>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}