{% extends 'iss_app/base.html' %}
{% load static %}
{% block title %}Notify{% endblock title %}

{% block content %}

    <head>

        <link rel="stylesheet" href={% static 'css/notify.css' %}>

    </head>
    <div class="main">
        <div class="card text-white bg-dark mb-3" style="max-width: 23rem;">
            <div class="card-header"><h3 class="card-title">
                Are you sure?</h3></div>

            <div class="card-body">

                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="btn btn-outline-danger" id="mail">
                        Turn Off
                    </button>
                </form>


            </div>


        </div>
    </div>

{% endblock content %}