{% extends 'iss_app/base.html' %}

{% block title %}Earth View Cam{% endblock title %}

{% block content %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.min.js"></script>

    <div class="d-flex flex-row" style="margin: 10px">

        <div class="flex-grow-1 p-2">
            <div style="position: relative; padding-bottom: 102%; padding-right: 90%; padding-left: 90%; height: 0; overflow: hidden;">
                <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; resize: both;"
                        src="https://www.youtube.com/embed/itdpuGHAcpg"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
            </div>
        </div>

        <div class="flex-grow-1 p-2"></div>

        <div style="align-items: center">
            <div class="card text-white bg-dark mb-3" style="max-width: 24rem; margin-right: 60px;">

                <div class="card-header" style="text-align: center; color: steelblue"><h5>Live Parameters</h5></div>

                <div class="card-body">

                    <table class="table table-dark" id="data-table">
                        <tbody>

                        <tr>
                            <th scope="row">Coordinates</th>
                            <td id="latlon">{{ lat }}, {{ lon }}</td>
                        </tr>


                        <tr>
                            <th scope="row">Altitude</th>
                            <td id="alt">{{ alt }} km</td>
                        </tr>

                        <tr>
                            <th scope="row">Velocity</th>
                            <td id="vel">{{ vel }} km/s</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <div id="av-orbit">
                    <script>
                        var avOrbitProperties = {
                            size: 'medium',
                            lang: 'en'
                        };
                    </script>
                    <script src="https://astroviewer.net/widgets/widgets/orbit.js"></script>
                </div>
            </div>
        </div>
    </div>

<script>
$(document).ready(function() {
  // Define a function to update the table with new data
  function updateTable(data) {
    var latlon = data.lat + ", " + data.lon;
    var alt = data.alt + " km"
    $('#latlon').text(latlon);
    $('#alt').text(alt);
    $('#velocity').text(velocity);
  }

  // Call the updateTable function with initial data
  $.ajax({
    url: '/data-view/',
    success: function(data) {
      updateTable(data);
    }
  });

  // Set up a WebSocket connection to receive new data
  var socket = io();
  socket.on('data', function(data) {
    updateTable(data);
  });

  // Update the table every 5 seconds
  setInterval(function() {
    $.ajax({
      url: '/data-view/',
      success: function(data) {
        updateTable(data);
      }
    });
  }, 5000);
});
</script>

{% endblock content %}