{% extends 'iss_app/base.html' %}

{% block title %}Map{% endblock title %}

{% block content %}
    <div style="margin: 20px">
        <div class="d-flex bd-highlight">


            <div class="p-2 w-100 bd-highlight">
                <div style="width: 900px" id="map-container">{{ map|safe }}</div>

                <script>
                    function refreshMap() {
                        // make a GET request to the map_view view with the 'refresh' parameter
                        fetch('/map/?refresh=true')
                            .then(response => response.json())
                            .then(data => {
                                // update the map HTML in the map container
                                document.getElementById('map-container').innerHTML = data.map;
                            });
                    }

                    // refresh the map every 5 seconds
                    setInterval(refreshMap, 5000);
                </script>
            </div>


            <div class="p-2 flex-shrink-1 bd-highlight" style="margin: 10px">

                <div class="card text-white bg-dark mb-3" style="max-width: 40rem; width: 300px">
                    <div class="card-header" style="text-align: center; color: steelblue"><h5>Live Parameters</h5></div>
                    <div class="card-body">
                        <table class="table table-dark">
                            <thead>
                            <tr>
                                <th scope="col">Parameter</th>
                                <th scope="col">Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">Coordinates</th>
                                <td>lat: {{ data.lat }}° <br> lon: {{ data.lon }}°</td>
                            </tr>
                            <tr>
                                <th scope="row">Altitude</th>
                                <td>{{ data.alt }} km</td>
                            </tr>
                            <tr>
                                <th scope="row">Velocity</th>
                                <td>{{ data.vel_mps }} m/s <br> {{ data.vel_kph }} kph</td>
                            </tr>
                            <tr>
                                <th scope="row">People on board</th>
                                <td>{{ data.pob|length }}</td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>


        </div>
    </div>
{% endblock content %}